In [1]:
lst1 = [20, 37, 20, 21]

In [6]:
a = []
for x in lst1:
    if x not in a:
        a.append(x)
a

[20, 37, 21]

In [11]:
a.count(20)

1

In [147]:
def delete_nth(order, max_e):
    a = []
    for x in order:
        if a.count(x) < max_e:
            a.append(x)
        else:
            continue  
    return a

In [148]:
delete_nth([1,1,3,3,7,2,2,2,2], 3)

[1, 1, 3, 3, 7, 2, 2, 2]

In [149]:
delete_nth([44, 11, 38, 44, 10, 38, 6, 6, 16, 6, 10, 46, 16, 38, 46, 16, 10, 6, 6, 6, 16, 46, 46, 44, 46, 44, 44, 6, 6, 38, 44],4)

[44,
 11,
 38,
 44,
 10,
 38,
 6,
 6,
 16,
 6,
 10,
 46,
 16,
 38,
 46,
 16,
 10,
 6,
 16,
 46,
 46,
 44,
 44,
 38]

In [136]:
lst3 = [17, 3, 17, 44, 39, 40, 17, 39, 44, 44, 48, 40, 48, 17, 44, 48, 23, 39, 43, 44, 17, 39, 43, 39, 3, 17, 43, 17, 43, 17, 44, 44, 3, 44, 40, 39, 17, 39, 48, 43, 23, 17, 23, 43, 3, 39, 43]

In [137]:
len(lst3)

47

In [138]:
ans3 =[17, 3, 17, 44, 39, 40, 17, 39, 44, 44, 48, 40, 48, 17, 44, 48, 23, 39, 43, 44, 17, 39, 43, 39, 3, 43, 43, 3, 40, 48, 43, 23, 23, 3]

In [139]:
len(ans3)

34

In [140]:
from collections import Counter

In [141]:
dict3 = Counter(lst3)
dict3

Counter({17: 10, 3: 4, 44: 8, 39: 8, 40: 3, 48: 4, 23: 3, 43: 7})

In [144]:
len(dict3)

8

In [143]:
dict3_ans = Counter(ans3)
dict3_ans

Counter({17: 5, 3: 4, 44: 5, 39: 5, 40: 3, 48: 4, 23: 3, 43: 5})